<section>
    <h1>{{actor.name}} fait un jet de {{apti}}</h1>
    <p>
        <span>l'action est </span>
        <select id="diff" name="diff">
        {{#select diff}}
        {{#each diff as |diff|}}
        <option value="{{diff.value}}">{{diff.label}}</option>
        {{/each}}
        {{/select}}
    </select>
    </p>
    <p>
        utiliser des points de adrenaline ? <span class="info">(max {{actor.data.data.compteurs.adrenaline.value}})</span>
        <input type="number" style="color:white" id="adrenaline" placeholder="0" />
    </p>

</section>