<form class="{{cssClass}} actorSheet" autocomplete="off">
    {{log "handlebar actor-sheet" this}}

    <div class="bloque infos ">
        <div class="flex-row">
            <div class="img-cont">
                <img class="profile " src="{{actor.img}}" title="portrait de {{actor.name}}" data-edit="img" />
            </div>
            <div class="info-blok">
                <div class="titre1">
                    <span>INFORMATIONS</span>
                </div>
                <div>
                    <input class="paradisPerdu" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                </div>
                <div>
                    <input class="paradisPerdu" type="text" name="data.informations.profil" value="{{data.data.informations.profil}}" />
                </div>
                <div>
                    <div class="titre2 toChat defPro" chatData="{{{data.data.informations.capacite}}}" title="clickez pour envoyer dans le chat">capacité</div>
                    <div class="property-textarea" contenteditable="true" data-edit="data.informations.capacite">
                        {{{data.data.informations.capacite}}}</div>
                </div>
            </div>
        </div>
    </div>



    <div class="bloque aptitudes">
        <div class="titre1" title="35 POINTS À RÉPARTIR (1 PT = 1 PT)">APTITUDES</div>
        {{#each data.data.aptitudes as |apti id|}}
        <div class="aptiLine">
            <div class="line"></div>
            <div class="aptilabel">
                <a type="a" class="boutonApt roll" rollCF="{{id}}">{{apti.label}}</a>
            </div>
            <div class="button">
                <div class="hex">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="hex">
                    <div></div>
                    <div> </div>
                    <div></div>
                </div>
                <input class="paradisPerdu" type="number" name="data.aptitudes.{{id}}.value" value="{{apti.value}}" data-dtype="Number">
            </div>
        </div>
        {{/each}}
    </div>




    <div class="bloque specialites">
        <div class="titre1" title="en fonction du profil">SPECIALITES</div>

        {{#each actor.items as |item id|}} {{#if item.data.data.isSpé}}
        <div class="item itemLine" data-item-id="{{item.id}}">

            <div class="item-controls ">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <a type="a" class="aptiLabel roll boutonSpe " rollCF="{{item.data.data.aptitudeName}}" rollSpe="{{item.name}}" rollRelances="{{item.data.data.relances}}">{{item.name}}</a>

            <span>// {{item.data.data.aptitudeName}} // </span>
            <span>{{item.data.data.relances}} relance(s)</span>

        </div>
        {{/if}} {{/each}}

    </div>

    <div class="bloque compteur ">
        {{#each data.data.compteurs as |compt id|}}
        <div>
            <div class="titre1">{{compt.label}}</div>

            <div class="button">
                <div class="hex">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="hex">
                    <div></div>
                    <div> </div>
                    <div></div>
                </div>
                <input type="number" class="paradisPerdu" name="data.compteurs.{{id}}.value" min="0" max="6" value="{{compt.value}}" data-dtype="Number">
            </div>

        </div>
        {{/each}}


    </div>

    <div class="bloque inventaire">
        <div class="titre1">INVENTAIRE</div>
        <ol class="items-list">
            {{#each actor.items as |item id|}} {{#unless item.data.data.isSpé}}
            <div class="item aptiLine bloque" data-item-id="{{item.id}}">
                <div class="item-controls ">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>

                </div>

                <p>
                    <img src="{{item.img}}" title="{{item.name}}" style="width:16px" /> {{item.name}}
                </p>
                {{#if item.data.data.isArme}}
                <p>
                    <a class="boutondgt roll " title="jeter les dégats" rollCF="degats" rollDegats="{{item.data.data.des}}" rollSpe="{{item.name}}" rollRelances="{{item.data.data.relances}}">
                        <img src="icons/svg/explosion.svg" height="16px" /> {{data.data.des}} dégats {{data.data.relances}} relances</a>
                </p>
                {{/if}}
                <p>{{{item.data.data.description}}}</p>
            </div>

            {{/unless}} {{/each}}
        </ol>
    </div>

</form>