$sqrt3: 1.7320508075688772;
$edgeSize: 25px;
$hexWidth: $edgeSize * 2;
$hexHeight: $sqrt3 * $edgeSize;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
// Display
$borderHover: 5px;
$dark: rgb(0, 0, 0);
form.charsheet {
    background-image: url(../img/fondTemp.png);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    color: rgb(70, 74, 75);
    font-family: "Ddin";
    font-size: 18px;
    .bloque {
        position: relative;
        box-sizing: content-box;
        margin: 8px 5px;
        padding: 10px;
        border: none;
        border-radius: 18px 0px 18px 0px;
        -o-text-overflow: clip;
        text-overflow: clip;
        background-image: linear-gradient(90deg, rgba(47, 50, 56, 0.253) 0, rgba(124, 121, 121, 0.363) 33%, rgba(14, 112, 197, 0.267) 100%);
        background-position: 50% 50%;
        background-origin: padding-box;
        background-clip: border-box;
        background-size: auto auto;
        box-shadow: 0 0 7px rgba(18, 26, 32, 0.5);
    }
    .bloque:hover {
        box-shadow: 0px 0px 5px rgb(255, 254, 254);
    }
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    input[type="time"] {
        box-shadow: 0 0 0px rgba(0, 204, 255, 0.788);
        color: rgb(179, 232, 245);
        text-align: center;
    }
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus,
    input[type="time"]:focus {
        box-shadow: 0 0 5px rgba(0, 204, 255, 0.788);
    }
    div.property-textarea {
        width: 100%;
        min-height: 35px;
        border: 1px solid black
    }
    .titre1 {
        color: white;
        text-align: center;
        font-size: xx-large;
        content: '';
        background: rgb(0, 0, 0);
        //z-index: -1;
        transform: skew(-25deg);
        box-shadow: 3px 3px 0 0 rgba(0, 26, 255, 0.425);
        span {
            transform: skew(25deg);
        }
    }
    span.pastille {
        position: relative;
        top: 15px;
        left: 5px;
        display: inline-block;
        transform: rotate( 327deg);
        background: black;
        padding: 5px;
    }
    .item {
        padding: 5px;
        padding-top: 15px;
        a {
            text-transform: uppercase;
            border-bottom: black;
        }
        .item-controls {
            position: absolute;
            right: 0px;
            top: 0px;
            color: black;
            text-shadow: 0px 0px 5px white;
        }
    }
    .infos {
        grid-column: 1/4;
        grid-row: 1/2;
        .img-cont {
            max-width: 120px;
        }
        .info-blok {
            width: 90%;
            margin-left: 15px;
        }
    }
    .aptitudes {
        grid-column: 1/2;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        .aptiLine {
            margin-top: 10px;
            height: 30px;
            position: relative;
            background: rgba(2, 0, 36, 0.363);
            background: linear-gradient( 90deg, rgba(2, 0, 36, 0.4) 0%, rgba(9, 9, 121, 0.3) 42%, rgba(0, 212, 255, 0) 100%);
            display: flex;
            flex-direction: row;
            align-items: center;
            .line {
                transition: all 0.3s;
                position: absolute;
                top: 20%;
                height: 60%;
                width: 0%;
                background: linear-gradient( 90deg, rgba(65, 58, 196, 0.685) 0%, rgba(9, 9, 121, 0.3) 42%, rgba(0, 212, 255, 0) 100%);
                border-radius: 0% 0% 0% 0%;
            }
            .aptilabel {
                width: 70%;
                z-index: +1;
            }
            .button {
                width: 30%;
            }
        }
        .aptiLine:nth-child(odd) {
            .button {
                margin-left: -10px;
            }
        }
        .aptiLine:nth-child(even) {
            .button {
                margin-left: -50px;
            }
        }
        .aptiLine:hover {
            .line {
                width: 50%;
                border-radius: 0% 50% 50% 0%;
            }
            .button {
                transform: scale(1.3);
                z-index: +2;
                .hex>div {
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
    .specialites {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .inventaire {
        grid-column: 2/4;
        grid-row: 3/4;
        h4 {
            text-align: center;
        }
        img {
            display: inline-block;
        }
    }
    .compteur {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column: 2/4;
        grid-row: 4/5;
        .button {
            margin-top: 20px;
        }
    }
    .button {
        position: relative;
        transition: 0.3s;
        left: 5%;
    }
    /* End of container */
    // Contains 2 hexagons (.hex)
    .button {
        // Hexagon
        // Easing
        cursor: pointer;
        width: $hexWidth;
        height: $hexHeight;
        .hex+input.paradisPerdu {
            z-index: 100;
            border: none;
            text-align: center;
            width: 35px;
            position: relative;
            top: 8px;
            left: 8px;
            font-size: x-large;
            color: black
        }
        .hex+input.paradisPerdu:focus {
            border: none;
            box-shadow: none;
        }
        &:last-child {
            margin-right: 0;
        }
        // Hover state
        &:hover {
            .hex:last-child {
                opacity: 1;
                transform: scale(1.3);
            }
            .hex:first-child {
                opacity: 1;
                div:before,
                div:after {
                    height: $borderHover;
                }
                transform: scale(1.2);
            }
        }
    }
    // Contains 3 div that makes the hexagon
    .hex {
        position: absolute;
        top: 0;
        left: $edgeSize/2;
        width: $edgeSize;
        height: $hexHeight;
        opacity: 0.5;
        // Inset
        &:first-child {
            transform: scale(0.9);
            transition: all 0.5s $ease-out-quart;
            z-index: 0;
        }
        // Outset
        &:last-child {
            transition: all 0.3s $ease-out-expo;
            z-index: 1;
        }
        div {
            background-color: rgb(240, 240, 240);
            box-sizing: border-box;
            position: absolute;
            top: 0;
            width: $edgeSize;
            height: $hexHeight;
            &:before,
            &:after {
                content: " ";
                position: absolute;
                background: $dark;
                width: 100%;
                height: 1px;
                transition: height 0.3s $ease-out-quart;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            &:nth-child(1) {
                transform: rotate(0deg);
            }
            &:nth-child(2) {
                transform: rotate(60deg);
            }
            &:nth-child(3) {
                transform: rotate(120deg);
            }
            transform-origin: center center;
        }
    }
}