$sqrt3: 1.7320508075688772;
$edgeSize: 25px;
$hexWidth: $edgeSize * 2;
$hexHeight: $sqrt3 * $edgeSize;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
// Display
$borderHover: 2px;
$dark: rgb(22, 35, 54);
form.actorSheet,
form.itemSheet {
    background-image: url(../img/fondTemp.png);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    color: rgb(70, 74, 75);
    font-family: "Ddin";
    font-size: 18px;
    .aptiLine {
        margin-top: 10px;
        height: 30px;
        padding-left: 5px;
        position: relative;
        background: rgb(0, 0, 0);
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        .aptilabel {
            width: 70%;
            z-index: +1;
            text-align: right;
        }
        .button {
            width: 30%;
        }
        .itemLine {
            position: relative;
            width: 100%;
            color: white;
            text-align: center;
            font-family: 'aileron';
            background: black;
            font-size: larger;
        }
        .itemLine:before {
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            border-top: 25px solid #d5e9f9;
            border-right: 20px solid #d5e9f9;
            border-left: 20px solid black;
        }
        .itemLine:after {
            position: absolute;
            content: '.';
            color: black;
            right: 25px;
            top: 0;
            /* border-top: 25px solid #d5e9f900; */
            border-right: 10px solid #4c646be3;
            border-left: 5px solid #b0e8f980;
            transform: skew( 39deg);
            box-shadow: 0px 0px 15px #b0e8f97a;
        }
    }
    div.bloque {
        position: relative;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 8px 5px;
        padding: 10px;
        border: none;
        -webkit-border-radius: 18px;
        border-radius: 18px 0px 18px 0px;
        color: rgba(0, 0, 0, 0.9);
        -o-text-overflow: clip;
        text-overflow: clip;
        background-image: linear-gradient(90deg, rgba(126, 132, 146, 0.486) 0, rgba(212, 212, 212, 0.486) 33%, rgba(167, 208, 243, 0.479) 100%);
        background-position: 50% 50%;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
        -webkit-box-shadow: 0 0 7px 4px rgba(65, 96, 119, 0.5);
        box-shadow: 0 0 7px 4px rgba(65, 96, 119, 0.5);
    }
    input[type="text"],
    input[type="number"] {
        box-shadow: 0 0 0px rgba(0, 204, 255, 0.788);
        color: rgb(59, 81, 87);
        text-align: center;
    }
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus,
    input[type="time"]:focus {
        box-shadow: 0 0 5px rgba(0, 204, 255, 0.788);
    }
    div.property-textarea {
        width: 100%;
        min-height: 35px;
        border: 1px solid black
    }
    .titre1 {
        position: relative;
        width: 100%;
        color: white;
        text-align: center;
        font-family: 'aileron';
        background: black;
        font-size: larger;
    }
    .titre1:before {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        border-top: 25px solid #d5e9f9;
        border-right: 20px solid #d5e9f9;
        border-left: 20px solid black;
    }
    .titre1:after {
        position: absolute;
        content: '.';
        color: black;
        right: 25px;
        top: 0;
        /* border-top: 25px solid #d5e9f900; */
        border-right: 10px solid #4c646be3;
        border-left: 5px solid #b0e8f980;
        transform: skew( 39deg);
        box-shadow: 0px 0px 15px #b0e8f97a;
    }
    span.pastille {
        position: relative;
        top: 15px;
        left: 5px;
        display: inline-block;
        transform: rotate( 327deg);
        background: black;
        padding: 5px;
    }
    .item {
        padding: 5px;
        padding-top: 15px;
        position: relative;
        .item-controls {
            position: absolute;
            right: 0px;
            top: 0px;
            color: black;
            text-shadow: 0px 0px 5px white;
        }
    }
    .infos {
        grid-column: 1/4;
        grid-row: 1/2;
        .img-cont {
            max-width: 120px;
        }
        .info-blok {
            width: 90%;
            margin-left: 15px;
        }
    }
    .aptitudes {
        grid-column: 1/2;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        .aptiLine:nth-child(odd) {
            width: 100%;
            .button {
                margin-left: 0px;
            }
        }
        .aptiLine:nth-child(even) {
            width: 75%;
            .button {
                margin-left: 5px;
            }
        }
        .aptiLine:hover {
            .button {
                transform: scale(1.3);
                z-index: +2;
                .hex>div {
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
    .specialites {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .inventaire {
        grid-column: 2/4;
        grid-row: 3/4;
        h4 {
            text-align: center;
        }
        img {
            display: inline-block;
        }
    }
    .compteur {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column: 2/4;
        grid-row: 4/5;
        .button {
            margin-top: 20px;
        }
    }
    .compteur>div {
        margin-right: 2vw;
        width: 100%
    }
    /* End of container */
    // Contains 2 hexagons (.hex)
    .button {
        // Hexagon
        // Easing
        position: relative;
        transition: 0.3s;
        left: 5%;
        cursor: pointer;
        width: $hexWidth;
        height: $hexHeight;
        .hex {
            transition: 0.6s;
            transform: rotate(0deg)
        }
        .hex+input.paradisPerdu {
            z-index: 100;
            border: none;
            text-align: center;
            width: 35px;
            position: relative;
            top: 8px;
            left: 8px;
            font-size: x-large;
            color: black;
        }
        .hex+input.paradisPerdu:focus {
            border: none;
            box-shadow: none;
        }
        &:last-child {
            margin-right: 0;
        }
        // Hover state
        &:hover {
            .hex {
                transform: rotate(120deg);
            }
            .hex:last-child {
                opacity: 1;
                transform: scale(1.2);
                div:before,
                div:after {
                    height: $borderHover;
                }
            }
            .hex:first-child {
                opacity: 1;
                div:before,
                div:after {
                    height: $borderHover;
                }
                transform: scale(1.3);
            }
        }
    }
    // Contains 3 div that makes the hexagon
    .hex {
        position: absolute;
        top: 0;
        left: $edgeSize/2;
        width: $edgeSize;
        height: $hexHeight;
        opacity: 1;
        // Inset
        &:first-child {
            transform: scale(0.9);
            transition: all 0.5s $ease-out-quart;
            z-index: 0;
        }
        // Outset
        &:last-child {
            transition: all 0.3s $ease-out-expo;
            z-index: 1;
        }
        div {
            background-color: rgba(255, 253, 253, 0.651);
            box-sizing: border-box;
            position: absolute;
            top: 0;
            width: $edgeSize;
            height: $hexHeight;
            &:before,
            &:after {
                content: " ";
                position: absolute;
                background: $dark;
                width: 100%;
                height: 1px;
                transition: height 0.3s $ease-out-quart;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            &:nth-child(1) {
                transform: rotate(0deg);
            }
            &:nth-child(2) {
                transform: rotate(60deg);
            }
            &:nth-child(3) {
                transform: rotate(120deg);
            }
            transform-origin: center center;
        }
    }
}